<nav class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
        <a class="active item">
            <a id="header" class="item" href="/"> WeatherTop </a>
        </a>
        <a class="item">
            <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
        </a>
        <a class="item">
            <a id="about" class="item" href="/about"> About </a>
        </a>
        <div class="right menu">
            <a class="item">
                <a id="logout" class="item" href="/logout"> Logout </a>
            </a>
            <a class="item">
                <a id="login" class="item" href="/login"> Login </a>
            </a>
        </div>
    </div>
</nav>

<!--
<nav class="ui menu">
  <header class="ui header item"> <a href="/"> WeatherTop </a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
  </div>
</nav>
-->

<script>
    $("#${_id}").addClass("active item");
</script>