#{extends 'main.html' /}
#{set title:'WeatherTop' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
    <h2 class="ui orange inverted header">Welcome to WeatherTop 1000</h2>
    <br>
    <hr>
    <div class="ui inverted segment">
        As WeatherTop Inc. are new to the software industry they are looking to ameliorate any
        risk by insisting on a working version of the application, even if not all of the features they
        requested are implemented. They have structured an incremental payment schedule
        accordingly, with 5 versions as follows:
        <div class="ui inverted segment">
            <h3 class="ui orange inverted header">Version Package Label Payment</h3>
        </div>
        <div class="ui inverted segment">
            <h4 class="ui yellow inverted header">1 Starter 0%-20%</h4>
            <h4 class="ui olive inverted header">2 Baseline 20%-45%</h4>
            <h4 class="ui green inverted header">3 Release 1 45%-60%</h4>
            <h4 class="ui teal inverted header">4 Release 2 60%-70%</h4>
            <h4 class="ui blue inverted header">5 Release 3 70%-100%</h4>
        </div>
        <div class="ui inverted segment">
            <h3>
                Please Signup or Login using the menu above.
            </h3>
        </div>
    </div>
</section>
